@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    font-size: 1em;
}

header, section.normal{
    padding: 20px;
}
p, h1, h2{
    margin-bottom: 10px;
    text-align: justify;
}
section.flex-content{
    padding: 20px;
    background-color: rgb(160, 189, 199);
}
